
.fatui3{z-index:10000; width:80px;height:30px; background: black;cursor: default;
filter:alpha(opacity=0.5);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;
  }
.main{ background: #f5f8fa;width:1190px; margin:57px auto 0;position: relative;}
.main_left{width: 290px;height: 699px;position: absolute;}
.main_left_top{width:290px;height: 195px;border: 1px solid #E2E2E2;position: absolute;}
.m_l_t_t{width: 290px;height: 95px;background: #0084b4;}
.m_l_t_b{width: 290px;height: 100px;position: absolute;bottom: 0px;}
.dawo{width: 70px;height: 70px;background: #fff;position: absolute;top:65px;left: 8px;z-index: 10;}
.dawo img{width:93%;height: 93%;margin: 3px 0 0 3px;}
.m_l_t_b p{width:85px;height: 45px;position: absolute;left: 88px;top:2px;}
.mad1{color: #292f33;margin-bottom: 2px;font:bold 18px "微软雅黑"}
.mad2{color: #66757f;}
.span4ge{width:100%;height: 45px;position: absolute;bottom: 0px;}
.span4ge span{width:120px;height: 22px;padding-left: 10px;}
.span4ge span.ge1{color: #8899a6;}
.span4ge span.ge2{color: #0084b4;font-size: 15px;}
.main_zhong{width: 588px;height: 1000px;position: absolute;top:0;left: 300px;overflow: hidden;}
.zhong_tb{height:auto !important;;width: 100%;background:#e5f2f7;float: left;}
.xxs{overflow:hidden;width:495px;height:auto !important height:35px; min-height:35px;margin:10px 0px 10px 67px;outline:none;padding:0 10px 0 10px;border: 1px solid #E2E2E2;background: #fff;}
.xxs img{width: 100px;height: 80px;}
.lp{position: absolute;width:30px;height: 20px;background: url(../img/xxj.jpg)no-repeat;right:30px;top:20px;}
.xw{width:30px;height: 30px;position: absolute;top:13px;left: 30px;}
.zhong_weibu{margin-bottom: 10px;height: 40px;position: relative;display: none;}
.zhong_weibu .aa{width:40px;height: 35px;overflow: hidden;border: 1px solid #e5f2f7;}
.zhong_weibu .aa img{width: 104%;height: 104%;}
.aa11{margin-left: 67px;}
.zhong_weibu .aa:hover{border: 1px solid  #8899a6;}
#up{display: none;}
.gif{width:336px;height: 200px;position: absolute;border: 1px solid #e2e2e2;background: #fff;left: 118px;display: none;z-index: 100001;}
.gif img{width:30px;height: 30px;margin: 5px;border: 1px solid #fff;}
.gif img:hover{border: 1px solid salmon;}
.gif font{position: absolute;top:-7px;left: 12px;color: #fff;}
.bul{width:99.6%;height: 1000px;border: 1px solid blue;}
.me a img{width:100%;height: 100%;}
.me a{width:45px;height: 45px;margin:10px 0 0 10px;}
.me{position: relative;height:auto !important height:85px;min-height:85px;width:99.6%;border: 1px solid #E2E2E2;float: left;}
.p2{width:515px;height:auto !important height:15px;min-height:15px; margin:-27px 0 0 70px; }
.pp3 a{width:24px;height: 24px;margin:0 0 0 64px;}
.pp3 a img{width:100%;height: 100%;}
.pp2{height:auto !important padding:5px;}
.pp2 img{height: 50%;width: 20%;margin:0px 0 5px 5px;}
.pp2{float: left;width:100%;}
.area{border: 0;resize:none;outline:none;display:block;width:98%;overflow:hidden;height: auto; }
.pp3{margin:0 0 10px 0px;}
.pp1{width:520px;height: 22px;position: absolute;top:10px;left: 70px;}
.pp1_a1{position:absolute;top:-10px;left: -10px;color: #292f33;font:bold 13px "微软雅黑"}
.pp1 span{position: absolute;top:3px;left:45px ;color: #66757f;}
#timeShow{position: absolute;top:-7px;left: 115px;color: #66757f;}
.pp1 a:hover{text-decoration: underline;}
.main_right{width:290px;height: 370px;position: absolute;top:0px;right: 0px;}
.right_bottom{width: 100%;height: 98px;border:1px solid #E2E2E2;position: absolute;bottom: 0;}
.right_bottom div{width:235px;height: 55px;margin: 10px 0 0 15px;color: #66757f;}
.right_bottom div a{margin-top: 7px;display: inline-block;color: #66757f;}
.right_bottom div a:hover{text-decoration: underline;}
